---
title: Home
description: The latest app to help you find new friends with common interests.
image: http://i63.tinypic.com/v75pxs.jpg
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">MaroofSha</h1>
			<p class="subtext editable">An extension of our passions.</p>
			<div class="cta button alt"><a href="#">About</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">MaroofSha Soaps</h2>
				<h3>Herbal &amp; Handmade</h3>
				<p class="editable"> From handmade natural soaps to laundry bars, 
					come along as we journey through the chemistry &amp; artistry of soap making.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://i68.tinypic.com/rrkswn.jpg" alt="handmade soaps" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable"> Little Bit Sewing</h2>
				<h3>Custom made for Women</h3>
				<p class="editable">Our homemakers unwind their needle craft passion &amp; design custom dresses, 
					accessories, bags, share sewing tutorials &amp; talk about fabrics.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://i67.tinypic.com/15j6og.png" alt="dressmaking" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">A Vagrant Diner</h2>
				<h3> Eat Well &amp; Stay Inspired!<h3>
				<p class="editable"> All our food products are handcrafted at home with special 
					care with organic additives from local gardens.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://i66.tinypic.com/ionjok.jpg" alt="food" />
			</div>
		</div>
	</section>

	
	
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Herbal Skin Soaks</h2>
				<h3>Homemade Herbal Skincare</h3>
				<p class="editable">Tips on day today skin care &amp; homemade skin products from 
					simple face packs to complex anti-aging creams. Sustaining a natural skincare routine is crucial for a 
					healthy & glowing skin.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://i66.tinypic.com/nnsjg8.jpg" alt="Skincare" />
			</div>
		</div>
	</section>

	
	
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">All Purpose Crafts</h2>
				<h3>Crafting For A Purpose</h3>
<p class="editable">crafts like Handmade rugs, knitting, crochet, pottery making, 
	glass decoration &amp; basket weaving are made, where functionality is the key &amp; they can be used everyday.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://i65.tinypic.com/o7vxw2.jpg" alt="Crafts" />
			</div>
		</div>
	</section>
	
	
	
	
	
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pugaippadams</h2>
				<h3>Simple Photography</h3>
				<p class="editable">Its all about the skills of photography, 
					indeed, all our work is manifested through photography.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://i67.tinypic.com/173gi9.jpg" alt="Photography" />
			</div>
		</div>
	</section>

	
	
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The Claypot Cook</h2>
				<h3>Healthy &amp; Nutritious</h3>
<p class="editable">Cooking with claypot is one of the healthiest &amp; organic way of cooking options available today. The 
				porous nature of unglazed claypots keep the steam circulating inside the food, neutralize
	the acid content, thereby providing a distinct sweet taste to the food.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://www.imageupload.co.uk/images/2017/06/23/clay-pot-622750_1920.jpg" alt="CLAYPOT COOKING" />
			</div>
		</div>
	</section>
	
	
	
	
	
	
	
	
	
	
	
	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
